<h2>DADOS DO INVESTIMENTO</h2>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-4 border-right">
        <label>Nome</label>
        <p class="p-0 m-0">{{investimento?.nome}}</p>
      </div>
      <div class="col-4 border-right">
        <label>Saldo total disponível</label>
        <p class="p-0 m-0">R$ {{investimento?.saldoTotalDisponivel | number : '1.2-2'}}</p>
      </div>
      <div class="col-4">
        <label>Valor total a resgatar</label>
        <p class="p-0 m-0">{{investimento?.nome}}</p>
      </div>
    </div>
  </div>
</div>
<br>
<h2>RESGATE DO SEU JEITO</h2>
<div class="card">
  <div class="card-body">
    asdfasdfa
  </div>
</div>
