/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


// adjusts

div.card {
  border-color: #7D8990;
}

.form-control.ng-touched.ng-invalid {
  border-color: red;
}

.btn-info {
 background: #007BCC;
  border-color: #007BCC;
}
